h1
{
    background-color: #00CED1;
    color: #F8F8FF;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-align: center;
}
h2
{
    text-decoration: underline;
    initial-letter: capitalize;
}
h3, h4, h5, h6
{
    text-decoration: underline;
    text-transform: lowercase;  
}
p
{
    text-indent: 30px;
    word-spacing: 1px;
    letter-spacing: -1px;
    line-height: 1.1;
}